<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="container-login100">
    <div class="wrap-login100">
      <form [formGroup]="form" class="login100-form">

        <!-- <div>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6" class="d-flexcenter">
                <img src="./assets/img/person1.png">
              </ion-col>
              <ion-col size="6" class="d-flexcenter">
                  <img class="medical" src="./assets/img/medical.png">
              </ion-col>
            </ion-row>
          </ion-grid>
        </div> -->

      
          <div *ngIf="case1" class="animated bounceInLeft">
  
            <div class="wrap-input100">
              <ion-item>
                <ion-label position="floating">Primer Nombre</ion-label>
                <ion-input type="text" (ionChange)="numberOnly($event)" placeholder="Primer nombre" formControlName="nombre"></ion-input>
                <ion-icon class="icon" name="person" color="primary" slot="end"></ion-icon>
              </ion-item>
              <ion-label color="danger" class="novalid"
                *ngIf="form.controls['nombre'].hasError('required') && (form.controls['nombre'].dirty || form.controls['nombre'].touched)">
                Nombre requerido</ion-label>
                <ion-label color="danger" class="novalid"
                *ngIf="form.controls['nombre'].hasError('pattern') && (form.controls['nombre'].dirty || form.controls['nombre'].touched)">
                Nombre no válido</ion-label>
            </div>
    
            <div class="wrap-input100">
              <ion-item>
                <ion-label position="floating">Segundo Nombre</ion-label>
                <ion-input type="text" (keypress)="numberOnly($event)" placeholder="Segundo nombre" formControlName="seugnonombre"></ion-input>
                <ion-icon class="icon" name="person" color="primary" slot="end"></ion-icon>
              </ion-item>
                <ion-label color="danger" class="novalid"
                *ngIf="form.controls['seugnonombre'].hasError('pattern') && (form.controls['seugnonombre'].dirty || form.controls['seugnonombre'].touched)">
                Nombre no válido </ion-label>
            </div>
    
            <div class="wrap-input100">
                <ion-item>
                  <ion-label position="floating">Primer Apellido</ion-label>
                  <ion-input type="text" (keypress)="numberOnly($event)" placeholder="Primer apellido" formControlName="apellido"></ion-input>
                  <ion-icon class="icon" name="person" color="primary" slot="end"></ion-icon>
                </ion-item>
                <ion-label color="danger" class="novalid"
                  *ngIf="form.controls['apellido'].hasError('required') && (form.controls['apellido'].dirty || form.controls['apellido'].touched)">
                  Apellido requerido</ion-label>
                  <ion-label color="danger" class="novalid"
                *ngIf="form.controls['apellido'].hasError('pattern') && (form.controls['apellido'].dirty || form.controls['apellido'].touched)">
                Apéllido no válido </ion-label>
            </div>
  

            <div class="wrap-input100">
                <ion-item>
                  <ion-label position="floating">Segundo Apellido</ion-label>
                  <ion-input type="text" (keypress)="numberOnly($event)" placeholder="Segundo apellido" formControlName="segundoapellido"></ion-input>
                  <ion-icon class="icon" name="person" color="primary" slot="end"></ion-icon>
                </ion-item>
                <ion-label color="danger" class="novalid"
                  *ngIf="form.controls['segundoapellido'].hasError('required') && (form.controls['segundoapellido'].dirty || form.controls['segundoapellido'].touched)">
                  Apellido requerido</ion-label>
                  <ion-label color="danger" class="novalid"
                *ngIf="form.controls['segundoapellido'].hasError('pattern') && (form.controls['segundoapellido'].dirty || form.controls['segundoapellido'].touched)">
                Apellido no válido </ion-label>
            </div>

            <div class="wrap-input100">
              <ion-item>
                  <ion-label>Departamento</ion-label>
                  <ion-select formControlName="departamento" (ionChange)="setDepartamento($event)" interface="action-sheet" cancelText="Cancelar">
                    <ion-select-option *ngFor="let item of departamento" value="{{item.nombre}}">{{item.nombre}}</ion-select-option>
                  </ion-select>
                </ion-item>
             <ion-label color="danger" class="novalid"
                  *ngIf="form.controls['departamento'].hasError('required') && (form.controls['departamento'].dirty || form.controls['departamento'].touched)">
                  Departamento requerido</ion-label> 
          </div>

          <div class="wrap-input100">
            <ion-item>
                <ion-label>Municipio</ion-label>
                <ion-select formControlName="municipio"  interface="action-sheet" cancelText="Cancelar">
                  <ion-select-option *ngFor="let item of newmuni" value="{{item.nombre}}">{{item.nombre}}</ion-select-option>
                </ion-select>
              </ion-item>
               <ion-label color="danger" class="novalid"
                *ngIf="form.controls['municipio'].hasError('required') && (form.controls['municipio'].dirty || form.controls['municipio'].touched)">
                Municipio requerido</ion-label> 
        </div>

        <div class="wrap-input100">
          <ion-item>
            <ion-label position="floating">Dirección</ion-label>
            <ion-input type="text"placeholder="ingresa tu dirección" formControlName="direccion"></ion-input>
            <ion-icon class="icon" name="pin" color="primary" slot="end"></ion-icon>
          </ion-item>
          <ion-label color="danger" class="novalid"
            *ngIf="form.controls['direccion'].hasError('required') && (form.controls['direccion'].dirty || form.controls['direccion'].touched)">
            direccion requerido</ion-label>
      </div>
    
            <div class="wrap-input100">
                <ion-item>
                  <ion-label>Tipo de documento</ion-label>
                  <ion-select interface="action-sheet" cancelText="Cancelar" formControlName="tipodocumento">
                    <ion-select-option value="Cedula de ciudadania">Cédula  de ciudadanía</ion-select-option>
                    <ion-select-option value="Cedula de extranjeria">Cédula  de extranjería</ion-select-option>
                    <ion-select-option value="Pasaporte">Pasaporte</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-label color="danger" class="novalid"
                  *ngIf="form.controls['tipodocumento'].hasError('required') && (form.controls['tipodocumento'].dirty || form.controls['tipodocumento'].touched)">
                  Tipo documento requerido</ion-label>
            </div>

           
    
            <div class="wrap-input100">
                <ion-item>
                  <ion-label position="floating">Documento</ion-label>
                  <ion-input type="number" (keypress)="numberOnlys($event)" placeholder="ingresa tu documento" formControlName="documento"></ion-input>
                  <ion-icon class="icon" name="list-box" color="primary" slot="end"></ion-icon>
                </ion-item>
                <ion-label color="danger" class="novalid"
                  *ngIf="form.controls['documento'].hasError('required') && (form.controls['documento'].dirty || form.controls['documento'].touched)">
                  Documento requerido</ion-label>
            </div>
    
            <div class="wrap-input100">
                <ion-item>
                  <ion-label position="floating">Confirmar documento</ion-label>
                  <ion-input (keypress)="numberOnlys($event)" type="number" placeholder="ingresa tu documento" formControlName="confirmardocumento"></ion-input>
                  <ion-icon class="icon" name="list-box" color="primary" slot="end"></ion-icon>
                </ion-item>
                <ion-label color="danger" class="novalid"
                  *ngIf="form.controls['confirmardocumento'].hasError('required') && (form.controls['confirmardocumento'].dirty || form.controls['confirmardocumento'].touched)">
                  Documento requerido</ion-label>
                  <ion-label color="danger" class="novalid"
                  *ngIf="form.hasError('notSame')">
                  Los documentos no coinciden</ion-label>
            </div>
  
            
          
          </div>
  
          <div *ngIf="case2" class="animated bounceInRight">
  
              <div class="wrap-input100">
                  <ion-item>
                      <ion-label>Fecha de nacimiento</ion-label>
                      <ion-datetime [max]="minDate" [monthNames]="monthNames" displayFormat="DD MMMM YYYY" doneText="Aceptar" cancelText="Cancelar" formControlName="fechanacimiento"></ion-datetime>
                    </ion-item>
                  <ion-label color="danger" class="novalid"
                    *ngIf="form.controls['fechanacimiento'].hasError('required') && (form.controls['fechanacimiento'].dirty || form.controls['fechanacimiento'].touched)">
                    Fecha de nacimiento requerida
                  </ion-label>
              </div>
  
              <div class="wrap-input100">
                  <ion-item>
                      <ion-label>Estado civil</ion-label>
                      <ion-select interface="action-sheet" cancelText="Cancelar" formControlName="estadocivil">
                        <ion-select-option value="Soltero">Soltero</ion-select-option>
                        <ion-select-option value="Casado">Casado</ion-select-option>
                        <ion-select-option value="Unión libre">Unión libre</ion-select-option>
                        <ion-select-option value="Divorciado/a">Divorciado/a</ion-select-option>
                        <ion-select-option value="Viudo/a">Viudo/a</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-label color="danger" class="novalid"
                      *ngIf="form.controls['estadocivil'].hasError('required') && (form.controls['estadocivil'].dirty || form.controls['estadocivil'].touched)">
                      Estado civil requerido</ion-label>
              </div>
  
              <div class="wrap-input100">
                  <ion-item>
                      <ion-label>Género</ion-label>
                      <ion-select interface="action-sheet" cancelText="Cancelar" formControlName="genero">
                        <ion-select-option value="Masculino">Masculino</ion-select-option>
                        <ion-select-option value="Femenino">Femenino</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-label color="danger" class="novalid"
                      *ngIf="form.controls['genero'].hasError('required') && (form.controls['genero'].dirty || form.controls['genero'].touched)">
                      Género requerido</ion-label>
              </div>

            
  
            <div class="wrap-input100">
              <ion-item>
                <ion-label position="floating">Celular</ion-label>
                <ion-input (keypress)="numberOnlys($event)" maxlength="10" type="number" placeholder="ingresa tu celular" formControlName="celular"></ion-input>
                <ion-icon class="icon" name="phone-portrait" color="primary" slot="end"></ion-icon>
              </ion-item>
              <ion-label color="danger" class="novalid"
                *ngIf="form.controls['celular'].hasError('required') && (form.controls['celular'].dirty || form.controls['celular'].touched)">
                Celular requerido</ion-label>
                <ion-label color="danger" class="novalid"
                *ngIf="form.controls['celular'].hasError('pattern') && (form.controls['celular'].dirty || form.controls['celular'].touched)">
                Celular no válido</ion-label>
            </div>
  
            <div class="wrap-input100">
              <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input placeholder="ingresa tu correo" formControlName="email"></ion-input>
                <ion-icon class="icon" name="mail" color="primary" slot="end"></ion-icon>
              </ion-item>
              <ion-label color="danger" class="novalid"
                *ngIf="form.controls['email'].hasError('required') && (form.controls['email'].dirty || form.controls['email'].touched)">
                Correo requerido</ion-label>
              <ion-label color="danger" class="novalid"
                *ngIf="form.controls['email'].hasError('pattern') && (form.controls['email'].dirty || form.controls['email'].touched)">
                Correo no válido</ion-label>
            </div>
  
            <div class="wrap-input100">
              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input  [type]="typeinput"  clearOnEdit="false" placeholder="Ingresa tu contraseña" formControlName="password"></ion-input>
                <ion-icon (click)="password1()" class="icon" [name]="nameicon" color="primary" slot="end"></ion-icon>
              </ion-item>
              <ion-label color="danger" class="novalid"
                *ngIf="form.controls['password'].hasError('required') && (form.controls['password'].dirty || form.controls['password'].touched)">
                Contraseña requerida</ion-label>
                <ion-label color="danger" class="novalid"
                *ngIf="form.controls['password'].hasError('pattern') && (form.controls['password'].dirty || form.controls['password'].touched)">
                La Contraseña no es segura <span><strong>(Ejemplo: Password7!)</strong></span></ion-label>
            </div>
  
            <div class="wrap-input100">
              <ion-item>
                <ion-label position="floating">Confirmar Contraseña</ion-label>
                <ion-input [type]="typeinput2"  clearOnEdit="false" placeholder="Confirma tu contraseña" formControlName="confpassword"></ion-input>
                <ion-icon (click)="password2()" class="icon" [name]="nameicon2" color="primary" slot="end"></ion-icon>
              </ion-item>
              <ion-label color="danger" class="novalid"
                *ngIf="form.controls['confpassword'].hasError('required') && (form.controls['confpassword'].dirty || form.controls['confpassword'].touched)">
                Contraseña requerida</ion-label>
                <ion-label color="danger" class="novalid"
                *ngIf="form.hasError('notSame')">
                Las contraseñas no son iguales</ion-label>
            </div>
            <re-captcha size="compact" (resolved)="captchaResolved($event)" siteKey="6LeIG7sUAAAAAJ8wa8GF9vge0jAjd2sXegFDj-Sa"></re-captcha>
 <div class="wrap-input100">
  
  </div>
  
          </div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <ion-button [disabled]="!form.controls['municipio'].valid  || !form.controls['direccion'].valid  || !form.controls['departamento'].valid || !form.controls['nombre'].valid || !form.controls['seugnonombre'].valid || !form.controls['apellido'].valid || !form.controls['segundoapellido'].valid || !form.controls['tipodocumento'].valid || !form.controls['documento'].valid || !form.controls['confirmardocumento'].valid || form.hasError('notSame')" (click)="nextCase()" expand="block" class="login">
                <ion-icon [name]="nameIcons"></ion-icon>
              </ion-button>
            </div>
          </div>



        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <ion-button *ngIf="case2" [disabled]="!form.valid || !captchaPassed" class="login" (click)="register()" expand="block">Registrarse</ion-button>
          </div>
        </div>
      </form>
      <!-- <button (click)="">Execute "homepage" action</button> -->
      
    </div>
    
  </div>

</ion-content>