// ion-title {
//     position: absolute;
//     top: 0;
//     left: 0;
//     padding: 0 90px 1px;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//   }

::ng-deep .searchbar-input.sc-ion-searchbar-md {
    border-radius: 14px !important;
    background-color: #ffffffe0 !important;
}

::ng-deep .sc-ion-searchbar-md-h {
    margin: auto !important;
    width: 92% !important;
}

.history1{
    background-color: rgb(255, 255, 255);
    // height: 170px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 93%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgb(198, 198, 199);
}

.nofound{
    text-align: center;
    margin-top: 41%;
    color: gray;
}

.imghistory{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.dcenter{
    display: flex;
    justify-content: center
}

.pad20{
    padding: 0px 20px 0px 20px;
}

.dend{
    display: flex;
    justify-content: flex-end
}
.buttonNextInfo{
    text-transform: initial;
    --background: #0074ff;
    --border-radius: 20px;
}

::ng-deep .datetime-text{
    color: #0c66b5 ;
    font-weight: 600 ;
}

.add{
    --color: white;
    --background: #0953ad;
}

.list{
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgb(198, 198, 199);
    width: 97%;
    margin: 6px;
    border-radius: 17px;
}

.itemOptions{
    height: 70px;
    text-transform: initial;
    --border-radius: 10px;
    margin-top: 13px;
    margin-right: 2px;
}

.dstart{
    display: flex;
    justify-content: flex-start;
}

.oscuro{
    top: 173px;
    position: absolute;
    height: 100%;
    background-color: #00000036;
    z-index: 1;
    width: 100%;
}

.cancel{
    --color: black;
    --background: transparent;
    text-transform: initial;
    --box-shadow: none;
}

.save{
    --color: #0074ff;
    --background: transparent;
    text-transform: initial;
    --box-shadow: none;
}

.dend{
    display: flex;
    justify-content: flex-end;
}

.butt{
    --background: transparent;
    --color: #0074ff;
    --border-radius: 33px;
}

  .header{
    --background: #0074FF;
    --color:white;
}

.citas{
    margin: auto;
    width: 97%;
    background-color: white;
    // height: 135px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px #c6c6c7;
    margin-top: 8px;
}
.titlemes{
    display: flex;
    justify-content: center;
    top: 16px;
    position: relative;
    font-size: 16px;
}

.buttoninfo{
    position: relative;
    top:18%
}

.noeventos{
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    color:gray
}



.img{
    top: 16%;
    position: relative;
    width: 100%;
}

::ng-deep .monthview-datetable td {
    cursor: pointer;
    text-align: center;
    border: none !important;
}

::ng-deep .table {
    width: 97%;
}

::ng-deep .table-bordered{
    border: 1px solid #ffffff !important;
}

::ng-deep .table-bordered > thead > tr > th {
    border: 1px solid #fff !important;
}

::ng-deep .monthview-primary-with-event {
    background-color: #27a052bf !important;
    color: white !important;
    border-radius: 50% !important;
}


::ng-deep .event-detail-container {
    border-top: 2px #f1f1f1 solid !important;
}

::ng-deep .monthview-selected {
    background-color: #1362bd !important;
    color: white !important;
    border-radius: 50% !important;
}

::ng-deep .monthview-current {
    background-color: #dadada;
    border-radius: 50%;
}

::ng-deep .table > tbody > tr > td{
    padding: 12px !important;
    line-height: 4vh !important;
    vertical-align: top;
}