<ion-header *ngIf="!filtro" class="animated fadeInDown">
  <ion-toolbar class="header">
    <ion-title>
      Citas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div *ngIf="filtro" class="animated fadeInDown">

    <ion-grid fixed>
      <ion-row>
        <ion-col class="dstart" size="4">
          <ion-button class="cancel" (click)="filter(1)">
            Cancelar
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <h3 style="font-size: 12px;font-weight: 700;text-align: center">Filtros</h3>
        </ion-col>
<!-- 
        <ion-col class="dend" size="4">
          <ion-button class="save" (click)="filter(1)">
            Guardar
          </ion-button>
        </ion-col> -->
        <ion-col style="display: flex;justify-content: center" size="12">
          <div class="animated bounceInRight delay-0.5s" scrollX="true" style="white-space: nowrap;overflow-x: auto;">
            <ion-chip (click)="all()">
              <ion-label>Todas</ion-label>
            </ion-chip>
            <ion-chip (click)="pendingCites()">
              <ion-label>Pendientes</ion-label>
            </ion-chip>
            <ion-chip (click)="acceptCites()">
              <ion-label>Aceptadas</ion-label>
            </ion-chip>
            <ion-chip (click)="cancelCites()">
              <ion-label>Canceladas</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label>De mayor a menor</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label>De menor a mayor</ion-label>
            </ion-chip>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label style="font-weight: 600;">Fecha de la cita</ion-label>
            <ion-datetime style="    color: #0c66b5 ;
                font-weight: 600 ;" [value]="minDate" [monthNames]="monthNames" doneText="Aceptar"
              cancelText="Cancelar" displayFormat="DD MMMM YYYY"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>



  </div>


  <div *ngIf="filtro" class="oscuro">

  </div>

  <ion-segment scrollable (ionChange)="segmentChanged($event)">
    <ion-segment-button value="citas" checked>
      <ion-label style="text-transform: initial;    border-radius: 9px; ">Mis citas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="newcita">
      <ion-label style="text-transform: initial;    border-radius: 9px; ">Nueva cita</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="segemt == 'citas'" lines="none">
    <div style="margin-bottom: 42px;" *ngIf="citas.length>0">
     
      <ion-button *ngIf="!filtro" style="position: absolute;right: 10px;" class="butt" (click)="filter(1)">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </div>

    <ion-item-sliding *ngFor="let item of citas">
      <ion-item class="list">
        <ion-avatar slot="start">
          <img src="./assets/img/person1.png" />
        </ion-avatar>
        <ion-label>
          <h2> <strong>{{item.servicio | titlecase}}</strong>
            <ion-chip style="position: absolute; right: 9px;" color="success" *ngIf="item.estado == 'Aceptada'" mode="md">
              <ion-label>Aceptada</ion-label>
            </ion-chip>
            <ion-chip style="position: absolute; right: 9px;" color="secondary" *ngIf="item.estado == 'Pendiente'" mode="md">
              <ion-label>Pendiente</ion-label>
            </ion-chip>
            <ion-chip style="position: absolute; right: 9px;" color="danger" *ngIf="item.estado == 'Cancelada'" mode="md">
              <ion-label>Cancelada</ion-label>
            </ion-chip>
            <!-- <ion-chip style="position: absolute; right: 9px;" color="success">
              <ion-label>{{item.estado}}</ion-label>
            </ion-chip> -->
          </h2>
          <h3>Doctor: <strong>{{item.profesional | titlecase}}</strong></h3>
          <p *ngIf="item.estado == 'Aceptada'">Aceptada el: {{item.updateAt  | date:'medium'}}</p>
          <p *ngIf="item.estado == 'Pendiente'">Enviada el: {{item.createdAt  | date:'medium'}}</p>
          <p *ngIf="item.estado == 'Cancelada'">Cancelada el: {{item.updateAt  | date:'medium'}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options class="itemOptions" side="end">
        <ion-item-option style="text-transform: initial;    border-radius: 9px;" (click)="unread(item)">Detalles
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <h3 *ngIf="citas.length<1" class="nofound">No hay ninguna cita pendiente</h3>

  </ion-list>

  <div *ngIf="segemt == 'newcita'">
    <ion-col size="12">
      <ion-searchbar placeholder="Buscador" (ionChange)="buscador($event)" animated></ion-searchbar>
    </ion-col>
   
    
    <ion-col size="12">
      <!-- <ion-item lines="none">
        <ion-label style="font-weight: 600;">Fecha de la cita</ion-label>
        <ion-datetime style="    color: #0c66b5 ;
            font-weight: 600 ;" [value]="minDate" [monthNames]="monthNames" doneText="Aceptar"
          cancelText="Cancelar" displayFormat="DD MMMM YYYY"></ion-datetime>
      </ion-item> -->
      <div class="animated bounceInRight delay-0.5s" scrollX="true" style="white-space: nowrap;overflow-x: auto;">
        <ion-chip (click)="lisTMedical()">
          <ion-label>Todos</ion-label>
        </ion-chip>
        <ion-chip (click)="goMedicalEspecialidad(item.especialidad)" *ngFor="let item of categorias">
          <ion-label>{{item.especialidad | titlecase}}</ion-label>
        </ion-chip>
        
      </div>
    </ion-col>
    <ion-col size="12">
      <div *ngFor="let item of medicos" class="history1">
        <ion-grid fixed style="margin-top: 7px;margin-bottom: 7px;">
          <ion-row>
            <ion-col size="4" class="dcenter">
              <img class="imghistory" src="{{item.foto}}" alt="">
            </ion-col>
            <ion-col size="8">
              <h3 style="margin: 0px;"> {{item.nombre | titlecase}} {{item.apellido | titlecase}}</h3>
              <h3 style="    font-size: 18px;
                  margin: 3px 0px 3px 0px;">{{item.especialidad | titlecase}}</h3>
              <span style="color: gray;font-size: 12px">{{item.descripcioncorta }}</span>
            </ion-col>
            <ion-col class="dend" size="12">
              <ion-button (click)="godetail(item.id)" [routerLink]="['/detalle-nueva-cita']"  class="buttonNextInfo">
                Detalles
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <h3 *ngIf="medicos.length<1" class="nofound">No hay resultados</h3>
      
    </ion-col>
  </div>

  <!-- 
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>New Event</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">
 
      <ion-item class="list">
        <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
      </ion-item>
      <ion-item class="list">
        <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc"></ion-input>
      </ion-item>
      <ion-item class="list">
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item class="list">
        <ion-label>End</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item class="list">
        <ion-label>All Day?</ion-label>
        <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Add Event</ion-button>
 
    </ion-card-content>
  </ion-card>
 
  <ion-row>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Month</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Week</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Day</ion-button>
    </ion-col>
 
   
    <ion-col size="6" text-left>
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>


    <ion-col size="6" text-right>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row> -->

  <!-- <ion-grid fixed>
   <ion-row>
    <ion-col size="4" text-left>
      <ion-button fill="clear" (click)="back()">
          <fa-icon style="font-size: 20px" [icon]="faChevronLeft"></fa-icon>
     
      </ion-button>
    </ion-col>
<ion-col size="4">
  <span class="titlemes">
      {{mes | titlecase }}
  </span>
</ion-col>
    <ion-col size="4" text-right>
      <ion-button fill="clear" (click)="next()">
          <fa-icon style="font-size: 20px" [icon]="faChevronRight"></fa-icon>
      </ion-button>
    </ion-col>
   </ion-row>
 </ion-grid>
  <calendar
  [monthviewEventDetailTemplate]="template"
  noEventsLabel="No hay citas pendientes"
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  [locale]="calendar.locale"
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1">
  </calendar>
  <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <div class="citas" (click)="openalert(item)" *ngFor="let item of selectedDate.events">
      <div *ngIf="selectedDate.events.length > 0">
        <ion-grid fixed>
          <ion-row style="margin-top: 3%;" >
            <ion-col size="2">
              <img class="img" src="./assets/img/event.png" alt="">
            </ion-col>
            <ion-col size="8">
              <span style="font-weight: 700;color: #717171;">
                {{item.title}}
              </span>
              <span>
                <p style="color: gray">
                  {{item.desc}}
                </p>
              </span>
            </ion-col>
            <ion-col size="2">
                <ion-col size="4" text-right>
                    <ion-button class="buttoninfo" fill="clear">
                        <fa-icon style="font-size: 20px" [icon]="faChevronRight"></fa-icon>
                    </ion-button>
                </ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div *ngIf="selectedDate.events.length == 0" class="citas">
      <span class="noeventos" >No hay citas pendientes para este dia</span>
    </div>

  </ng-template> -->
</ion-content>