<ion-content>
  <div class="header">
    <ion-grid fixed class="t30">
      <ion-row>
        <ion-col size="6">
          <span class="dash">
            Hoy, 26 de Agosto
          </span>
        </ion-col>
        <ion-col size="6" class="fend">
            <fa-icon style="font-size: 20px;color:white;    margin-right: 23px;" [icon]="cog"></fa-icon>
          <!-- <img [routerLink]="['/dashboard/profile']" class="img" [src]="foto" alt=""> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="marl40">
            <span class="subtitle">
              Historias Clinicas
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-searchbar placeholder="Buscador" animated></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid fixed class="grid">
    <ion-row>
      <ion-col size="12">
        <div class="history1">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="3" class="dcenter">
                <img class="imghistory" src="../../../../assets/img/person.png" alt="">
              </ion-col>
              <ion-col size="9">
                <h3>Historia clinica #1</h3>
              </ion-col>
              <ion-col size="12">
                <div class="pad20">
                  <span style="font-size: 14px;color:gray">
                      Paciente que consulta por cuadro clínico de aproximadamente 2meses de evolución caracterizado por dolor tipo punzante.
                  </span>
                </div>
              </ion-col>
              <!-- <ion-icon name="arrow-round-forward"></ion-icon> -->
              <ion-col class="dend" size="12">
                <ion-button class="buttonNextInfo">
                  <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
      <ion-col size="12">
          <div class="history1">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="3" class="dcenter">
                    <img class="imghistory" src="../../../../assets/img/person.png" alt="">
                  </ion-col>
                  <ion-col size="9">
                    <h3>Historia clinica #2</h3>
                  </ion-col>
                  <ion-col size="12">
                    <div class="pad20">
                      <span style="font-size: 14px;color:gray">
                          Paciente que consulta por cuadro clínico de aproximadamente 2meses de evolución caracterizado por dolor tipo punzante.
                      </span>
                    </div>
                  </ion-col>
                  <!-- <ion-icon name="arrow-round-forward"></ion-icon> -->
                  <ion-col class="dend" size="12">
                    <ion-button class="buttonNextInfo">
                      <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
      </ion-col>
      <ion-col size="12">
          <div class="history1">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="3" class="dcenter">
                    <img class="imghistory" src="../../../../assets/img/person.png" alt="">
                  </ion-col>
                  <ion-col size="9">
                    <h3>Historia clinica #3</h3>
                  </ion-col>
                  <ion-col size="12">
                    <div class="pad20">
                      <span style="font-size: 14px;color:gray">
                          Paciente que consulta por cuadro clínico de aproximadamente 2meses de evolución caracterizado por dolor tipo punzante.
                      </span>
                    </div>
                  </ion-col>
                  <!-- <ion-icon name="arrow-round-forward"></ion-icon> -->
                  <ion-col class="dend" size="12">
                    <ion-button class="buttonNextInfo">
                      <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
      </ion-col>
      <ion-col size="12">
          <div class="history1">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="3" class="dcenter">
                    <img class="imghistory" src="../../../../assets/img/person.png" alt="">
                  </ion-col>
                  <ion-col size="9">
                    <h3>Historia clinica #4</h3>
                  </ion-col>
                  <ion-col size="12">
                    <div class="pad20">
                      <span style="font-size: 14px;color:gray">
                          Paciente que consulta por cuadro clínico de aproximadamente 2meses de evolución caracterizado por dolor tipo punzante.
                      </span>
                    </div>
                  </ion-col>
                  <!-- <ion-icon name="arrow-round-forward"></ion-icon> -->
                  <ion-col class="dend" size="12">
                    <ion-button class="buttonNextInfo">
                      <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>