<ion-content>
  <div class="header">
    <ion-grid fixed class="t30">
      <ion-row style="    top: 17px;
      position: relative;">
        <ion-col size="6">
          <span class="dash">
            Hoy, 26 de Agosto
          </span>
        </ion-col>
        <ion-col size="6" class="fend">
            <fa-icon style="font-size: 20px;color:white;    margin-right: 23px;" [icon]="cog"></fa-icon>
          <!-- <img [routerLink]="['/dashboard/profile']" class="img" [src]="foto" alt=""> -->
        </ion-col>
      </ion-row>
      <ion-row style="    margin-top: 34px;">
        <ion-col size="12">
          <div class="marl40">
            <span class="subtitle">
              Historias Clinicas
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid fixed class="grid">
    <ion-row>
      <ion-col size="12">
        <div class="history">
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="history1">
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="history1">
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="history1">
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>