.header{
    --background: #1565c0;
    --color:white;
}

.imgemail{
    margin: auto;
    display: block;
    width: 130px;
    height: 130px;
}
.text1{
    text-align: center;
    display: block;
    margin: 0px 25px 0px 25px;
    color: gray;
}