.header{
    --background: #1565c0;
    --color:white;
}

.imgemail{
    margin: auto;
    display: block;
    width: 130px;
    height: 130px;
}
.text1{
    text-align: center;
    display: block;
    margin: 0px 25px 0px 25px;
    color: gray;
}

.itemcel{
    border: 2px solid #3171e0;
border-radius: 11px;
}

.textv{
    text-align: center;
    margin-left: 36px;
    margin-bottom: 6px;
    font-size: 21px;
    font-weight: bold;
    color: #004fad;
    width: 100%;
}

.input1{
    text-align: center;
    letter-spacing: 33px;
    margin-left: 22px;
    font-weight: bold;
}