<ion-content>


  <div class="header">
     
  </div>

  <div class="container">
    <div  class="img">
      <img class="im" src="{{base64Image}}" alt="">
    </div>
    <div (click)="editPhoto()" class="buttonEdit">
      <ion-icon style="top: 7px;color: white;position: relative;" slot="icon-only" name="create" mode="md"></ion-icon>
    </div>
    <h3 (click)="editNames()" style="position: relative;bottom: 116px;text-align: center;"> <span style="font-weight: 500">{{datos.nombre1}}
        {{datos.nombre2}} {{datos.apellido1}} {{datos.apellido2}} <ion-icon style="color: #393f464d;" slot="icon-only" name="create" mode="md"></ion-icon></span></h3>

    <ion-grid fixed class="grid">
      <ion-row>
        <ion-col size="4">
          <ion-row>
            <ion-col size="12">
              <span style="color:gray">Género</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span style="font-weight: 600;font-size: 15px"> {{datos.genero}} </span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="12">
              <span style="color:gray">Fecha Nac.</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span style="font-weight: 600;font-size: 15px"> {{datos.fechanacimiento}} </span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="12">
              <span style="color:gray">Peso</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span style="font-weight: 600;font-size: 15px"> 58KG </span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="12">
              <span style="color:gray">Altura</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span style="font-weight: 600;font-size: 15px"> 176Cm </span>
            </ion-col>
          </ion-row>

        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="12">
              <span style="color:gray">RH</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span style="font-weight: 600;font-size: 15px"> A+ </span>
            </ion-col>
          </ion-row>

        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="12">
              <span style="color:gray">Documento</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span style="font-weight: 600;font-size: 15px"> {{datos.cc}} </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: initial;margin-left: 20px;">
        <ion-col size="12">
          <ion-row>
            <ion-col size="12">
              <span style="color:gray">Correo electrónico</span>
            </ion-col>
            <ion-col (click)="editMail(datos.email)" size="12">
                <span style="font-weight: 600;font-size: 17px"> {{datos.email}} <ion-icon style="color: #393f464d;" slot="icon-only" name="create" mode="md"></ion-icon></span>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="12">
            <ion-row>
              <ion-col size="12">
                <span style="color:gray">Número de télefono</span>
              </ion-col>
              <ion-col (click)="changecelular(datos.celular)" size="12">
                  <span style="font-weight: 600;font-size: 17px">(+57) {{datos.celular}} <ion-icon style="color: #393f464d;" slot="icon-only" name="create" mode="md"></ion-icon></span>
              </ion-col>
            </ion-row>
          </ion-col>

        <ion-col size="12">
            <ion-row>
              <ion-col size="12">
                <span style="color:gray">Dirección</span>
              </ion-col>
              <ion-col size="12">
                  <span style="font-weight: 600;font-size: 17px"> {{datos.direccion}} </span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12">
              <ion-row>
                <ion-col size="12">
                  <span style="color:gray">Contraseña</span>
                </ion-col>
                <ion-col (click)="editKey(datos.email)" size="12">
                    <span style="font-weight: 600;font-size: 17px"> ******** <ion-icon style="color: #393f464d;" slot="icon-only" name="create" mode="md"></ion-icon></span>
                </ion-col>
              </ion-row>
          </ion-col>

          <ion-col size="12">
            <ion-row>
              <ion-button (click)="closeSetcion()" style="font-style: initial" color="primary">Cerrar sesión</ion-button>
            </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>