<ion-content>

  <div class="img">
    <img class="im" src="{{base64Image}}" alt="">
  </div>
  <div class="buttonEdit">
    <ion-button class="edit" (click)="editPhoto()">
      <ion-icon style="color:white" slot="icon-only" name="camera" mode="md"></ion-icon>
    </ion-button>
  </div>

  <ion-list>

    <ion-item class="pad10" (click)="editName(datos.PrimerNombre)">
      <ion-icon style="color:#3880ff" slot="start" name="md-person"></ion-icon>
      <ion-label>
        <h2 style="color: gray">Nombre</h2>
        <h3> <span style="font-weight: 500">{{datos.PrimerNombre}}</span></h3>
      </ion-label>
      <ion-button class="buttonEdit1">
        <ion-icon style="color:gray" slot="end" name="md-create"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="pad10" (click)="editApellido(datos.primerApellido)">
        <ion-icon style="color:#3880ff" slot="start" name="md-person"></ion-icon>
        <ion-label>
          <h2 style="color: gray">Apellido</h2>
          <h3> <span style="font-weight: 500">{{datos.primerApellido}}</span></h3>
        </ion-label>
        <ion-button class="buttonEdit1" >
          <ion-icon style="color:gray" slot="end" name="md-create"></ion-icon>
        </ion-button>
      </ion-item>

    <ion-item class="pad10" (click)="editDocumento(datos.documento)">
        <ion-icon style="color:#3880ff" slot="start" name="md-list-box"></ion-icon>
      <ion-label>
        <h2  style="color: gray">Documento</h2>
        <h3 style="font-weight: 500">{{datos.documento}}</h3>
      </ion-label>
      <ion-button class="buttonEdit1" >
          <ion-icon style="color:gray" slot="end" name="md-create"></ion-icon>
        </ion-button>
    </ion-item>

    <ion-item class="pad10" (click)="editMail(datosProfile.email)">
        <ion-icon style="color:#3880ff" slot="start" name="md-at" ></ion-icon>
      <ion-label>
        <h2  style="color: gray">Correo</h2>
        <h3 style="font-weight: 500">{{datosProfile.email}}</h3>
      </ion-label>
      <ion-button class="buttonEdit1" >
          <ion-icon style="color:gray" slot="end" name="md-create"></ion-icon>
        </ion-button>
    </ion-item>

    
    <ion-item class="pad10" (click)="editKey(datosProfile.email)">
        <ion-icon style="color:#3880ff" slot="start" name="md-key" ></ion-icon>
      <ion-label>
        <h2  style="color: gray">Restablecer contraseña</h2>
        <h3 style="font-weight: 500">***********</h3>
      </ion-label>
      <ion-button class="buttonEdit1" >
          <ion-icon style="color:gray" slot="end" name="md-create"></ion-icon>
        </ion-button>
    </ion-item>

  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onClick()">
        <ion-icon name="exit"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>