<!-- <ion-header>
  <ion-toolbar>
    <ion-title>DashboardHome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button (click)="onClick()" tab="home">
            <ion-icon mode="md" name="home"></ion-icon>
            <ion-label>Incio</ion-label>
            <!-- <ion-badge>6</ion-badge> -->
          </ion-tab-button>
      
          <ion-tab-button tab="history">
            <fa-icon class="f12" style="font-size: 20px" [icon]="faHospitalSymbo"></fa-icon>
            <ion-label>H.C.D</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="citas">
            <!-- <ion-icon mode="md" name="star"></ion-icon> -->
            <fa-icon class="f12" style="font-size: 20px" [icon]="faNotes"></fa-icon>
            <ion-label>Citas</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="profile">
            <ion-icon mode="md" name="md-person"></ion-icon>
            <ion-label>Mi Perfil</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>
