<!-- <ion-header>
  <ion-toolbar>
    <ion-title>DashboardHome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home">
            <ion-icon mode="md" name="home"></ion-icon>
            <ion-label>Incio</ion-label>
            <!-- <ion-badge>6</ion-badge> -->
          </ion-tab-button>
      
          <ion-tab-button tab="speakers">
            <ion-icon mode="md" name="search"></ion-icon>
            <ion-label>Buscar</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="map">
            <ion-icon mode="md" name="star"></ion-icon>
            <ion-label>Top 5</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="profile">
            <ion-icon mode="md" name="md-person"></ion-icon>
            <ion-label>Mi cuenta</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>
