<ion-content>

  <ion-grid style="padding: 0;">
    <ion-row>
      
        <ion-col size="12" style="box-shadow: rgba(182, 182, 182, 0.75) 0px 0px 12px">
          
        <ion-button class="exit" (click)="back()">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
          <img class="img" src="{{medico.foto}}" alt="">
        </ion-col>
        <div class="start">
            <span class="dot"></span>
            <span class="dot" style="position: relative;right: 10px;background-color: #a2a2a2;"></span>
            <span class="dot" style="position: relative;right: 22px;background-color: #828181;"></span>
           <span style="bottom: 5px;color: gray;font-size: 19px;font-weight: bold;position: relative;">
            4.5
           </span>
         <fa-icon style="bottom: 5px;font-size: 19px;color: #f79312;margin-right: 3px;position: relative;" [icon]="cog"></fa-icon>
       </div>
     
      <ion-col size="12" style="margin-top: 10px;" padding>
        
        <h2 class="namemedical">{{medico.nombre | titlecase}} {{medico.nombre2 | titlecase}} {{medico.apellido | titlecase}} {{medico.apellido2 | titlecase}}</h2>
        <span class="esp">{{medico.descripcioncorta}}</span>

        <div>
          <h5 style="line-height: 0.8; font-size: 16px;font-weight: 600">
            <p>
              {{medico.direccion | titlecase}}
            </p>
            <p>
              {{medico.ciudad}}
            </p>
          </h5>
          <h5 class="acercade">
          Acerca de
          </h5>
          <span class="deslarga">
            {{medico.descripcionprofesional}}
            </span>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>
<div class="bottom">
  <div class="footer" (click)="pedirCita()">
    <span class="viewcupos">
      Ver cupos
    </span>
  </div>
</div>

  <!-- <div (click)="pedirCita()"  class="footer">
    <ion-grid  fixed style="padding: 0">
      <ion-row>
        
        <ion-col size="12" style="height: 100vh;background-color: #259ce4;">
          <h3 class="pedir">Pedir cita <fa-icon class="arrow" [icon]="arrow"></fa-icon>
          </h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

</ion-content>