.icon{
  top: 9px;
  position: relative;
}

.login{
  --background: #097aff
}

.forgot{
  display: flex;
  justify-content: flex-end;
  margin-right: 17px;
}

.bott{
  margin-bottom: 5%;
  text-align: center;
}